prometheus:
  prometheusSpec:
    retention: 2d
    retentionSize: 6GiB
    scrapeInterval: 60s
    evaluationInterval: 60s
    resources:
      requests:
        memory: 256Mi
        cpu: 100m
      limits:
        memory: 256Mi
        cpu: 300m
  service:
    type: NodePort
    nodePort: 32005

alertmanager:
  alertmanagerSpec:
    resources:
      requests:
        memory: 64Mi
        cpu: 50m
      limits:
        memory: 128Mi
        cpu: 100m
  service:
    type: NodePort
    nodePort: 32006

grafana:
  enabled: true
  resources:
    requests:
      memory: 128Mi
      cpu: 50m
    limits:
      memory: 256Mi
      cpu: 150m
  adminPassword: "admin"
  service:
    type: NodePort
    nodePort: 32007
  grafana.ini:
    server:
      serve_from_sub_path: true
  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: Loki
          type: loki
          access: proxy
          url: http://loki.monitoring.svc.cluster.local:3100
          isDefault: false

kubeStateMetrics:
  resources:
    requests:
      memory: 64Mi
      cpu: 50m
    limits:
      memory: 128Mi
      cpu: 100m

nodeExporter:
  resources:
    requests:
      memory: 32Mi
      cpu: 30m
    limits:
      memory: 65Mi
      cpu: 50m

prometheusOperator:
  resources:
    requests:
      memory: 64Mi
      cpu: 50m
    limits:
      memory: 128Mi
      cpu: 100m